body{
	font-family: 'K2D', sans-serif;
	background-color: #F1F1F2;
}
.container{
	background-color: #fff;
	padding: 50px 50px 50px 50px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;

}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left:33%;
  margin-top:25%;
  border-radius:4px;
}

button{
	padding: 0;
    border: none;
    background: none;
    color: #28A4E2;
    font-weight: bold;
}
button:hover, button:active, button:focus{
	border-bottom: 2px solid #28A4E2;
}

label{
	font-weight:normal;
}

.navbar-default {
	background-color: #fff;
	color: 
}
.navbar-default .navbar-nav > li > a , .navbar-default:hover, .navbar-default:focus, .navbar-default:active{
	margin-top: 10px;
    color: #28A4E2;
}

.btnNavBar{
	color: #28A4E2;
    font-weight: bold;
}

.btn, .btn:active, .btn:focus{
	/* padding: 0; */
    border: none;
    background: none;
    color: #28A4E2;
    border:2px solid #28A4E2;
    border-radius:2px;
	
}
.btn:hover{
 	border: none;
    background: #28A4E2;
    color: #fff;
    border:2px solid #28A4E2;
    border-radius:2px;
}

.btnConnexion, .btnConnexion:hover, .btnConnexion:active, .btnConnexion:focus{
	border-radius: 2px;
	background-color:#28A4E2;
	color: #fff;
	font-weight:normal;
	padding:5px;
}

.logo{
	background-image: url("../images/sortie2.jpg");
	/* width:500px;
	height:281px; */
}


/* MULTI SELECT */

.multiselect {
  /* width: 200px; */
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

select{
	border:none;
}

#checkboxes label:hover{
	background-color:#E0E0E0;
}

.btn-active{
	border: none;
    background: none;
    color: #28A4E2;
    font-weight: bold;
    border-bottom:2px solid #28A4E2;
    border-radius:0px;
}

h2{
	color: #28A4E2;
}
.container-title{
	position: relative;
	width: 100%;
	border-top: solid 2px #28A4E2;
	margin-top: 25px;
}
.title{
	text-align: center;
	position: relative;
	top: -40px;
	background-color: #F1F1F2;
	z-index: 10;
	font-weight: light;
}

.form-control{
	border-left: none;
	border-right: none;
	border-top: none; 
	border-bottom: 2px solid #A6E1FE;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.form-control:focus{
	border-bottom: 2px solid #0180C0;
}

.input-group-addon{
	background-color: #fff;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #A6E1FE;
	color: #0180C0;
}
input[type=radio]{
	color: #A6E1FE;
}
.btnModifVille{
	margin-top: 15px;
}
.headerSortie{
	position: relative;
}
.encadreSortie{
	position: absolute;
	bottom: 30px;
	left: 15px;
	background-color: #0180C0;
	opacity: 0.8;
	color: #fff;
}
.encadreSortie h2{
	color: #fff;
	opacity: 1;
}
.contentSortie{
	margin-top: 35px;
}
.imgheader{
	width: 100%;
}
.btnVoirParticipant{
	border: none;
	background: none;
}